# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual environments
# =========================
venv/
.env/

# =========================
# Datasets (DO NOT UPLOAD)
# =========================
dataset/
data/
DIV2K/
*.zip
*.tar
*.tar.gz

# =========================
# Training outputs
# =========================
out/
checkpoints/
logs/

# =========================
# TensorFlow / Keras
# =========================
*.h5
*.keras
*.tflite
saved_model/
tmp/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/
